<h1 style="font-size: 1.5em; line-height: 2em;"> El evento <b>{{Nombre}}</b> fue actualizado. </h1>

<p>Hola {{ Organizador }} ! haz actualizado el evento <b>{{Nombre}}</b> exitosamente, aqui los detalles:</p>

<dl>
  <dt>Nombre:</dt>
  <dd>{{ Nombre }}</dd>

  <dt>Descripcion:</dt>
  <dd>{{ Descripcion }}</dd>

  <dt>Organizador:</dt>
  <dd>{{ Organizador }}</dd>

  <dt>Fecha de Inicio:</dt>
  <dd>{{ FechaInicio }}</dd>

  <dt>Fecha de Fin:</dt>
  <dd>{{ FechaFin }}</dd>

  <dt>Direccion:</dt>
  <dd>{{ Direccion }}</dd>
  
    <dt>Invitados Iniciales</dt>
   <dd>{{ InvitadosIniciales }}</dd>
  
   <dt>Staff:</dt>
   <dd>{{ Staff }}</dd>
  
  <dt>Etiquetas:</dt>
  <dd>{{ Etiquetas }}</dd>

  <dt>Capacidad Maxima:</dt>
  <dd>{{ Capacidadmaxima }}</dd>
  
</dl>

