
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bienvenido!</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>
    <body>
        <section class="section">
            <div class="container">
                <h1 class="title">
                    Bienvenido al Personal Blog de Jose Manuel Martinez Sanchez !
                </h1>
                <p class="subtitle">
                    <strong>2019.</strong>
                </p>
            </div>
        </section>
	      <div>
			      <p>Made with ❤ by <a href="https://github.com/J0MS"> @JOMS </a>.</p>
		    </div>
        
    </body>

</html>
