<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login - Underneath Systems</title>
  <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <!-- <link rel="stylesheet" type="text/css" href="login.css"> -->
  <style type="text/css">
   .hero.has-background {
       position: relative;
       overflow: hidden;
   }
   .hero-background {
       position: absolute;
       object-fit: cover;
       object-position: center center;
       width: 100%;
       height: 100%;
   }
   .hero-background.is-transparent {
       opacity: 0.3;
   }
   table-background-color:red;
  </style>

</head>
<body>
  <section class="hero is-fullheight has-background">
      <img alt="Fill Murray" class="hero-background is-transparent" src="../../static/img/concert3.jpeg">
      <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <div class="box">
            <p class="subtitle is-4 has-text-grey">Para iniciar, porfavor inicia sesion.</p><br>
                 <div class="box">
                    {% block body_content %}

                        dfgs
                        <h1> {{ event.name }} </h1>
                        <div class="">
                            {{ event.description }}
                        </div>
                        <div class="">
                            <p>
                                {{ event.address }}
                            </p>
                        </div>
                        {% endblock %} 
                </div>
          </div>
          <p class="has-text-grey">
            <a href="users">Registrarse</a> &nbsp;·&nbsp;
            <a href="../">Recuperar contrasena</a> &nbsp;·&nbsp;
            <a href="../">Ayuda?</a>
          </p>
          <div class="languages select is-small is-rounded">
            <select>
              <option selected>English</option>
              <option>French</option>
              <option>German</option>
              <option>Italian</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <!-- FOOTER -->
    <div class="hero-foot">
      <div class="container">
        <div class="tabs is-centered">
          <ul>
            <li class="footer-text"><a href="https://github.com/underneath-systems/" style="color:white;">Made with  <i class="fa fa-heart fa-fw" style="font-size: 10px; color:red;"></i>  by Underneath-systems</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
