<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login - Underneath Systems</title>
  <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <!-- <link rel="stylesheet" type="text/css" href="login.css"> -->
  <style type="text/css">
   .hero.has-background {
       position: relative;
       overflow: hidden;
   }
   .hero-background {
       position: absolute;
       object-fit: cover;
       object-position: center center;
       width: 100%;
       height: 100%;
   }
   .hero-background.is-transparent {
       opacity: 1.3;
   }
   table-background-color:red;
  </style>

</head>
<body>
  <section class="hero is-fullheight has-background">
      <img alt="Fill Murray" class="hero-background is-transparent" src="../../static/img/concert3.jpeg">
      <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <div class="box">
            <p class="subtitle is-4 has-text-grey">Para comenzar, porfavor inicia sesion.</p><br>
  
          
          <form method="post"  action="{% url 'login' %}" >
                {% csrf_token %}

                <div>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
                </div>
                <div>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
                </div>

              <div class="field">
                <label class="checkbox">
                  <input type="checkbox">
                  Recordarme
                </label>
              </div>

             <button class="button is-block is-info is-large is-fullwidth">Login</button><br>
              <p class="subtitle is-5">Inicia sesion con tus redes sociales </p>
              <button class="google-button button is-medium"><i class="fab fa-google-plus-g"></i></button>
            </form>
          </div>
          <p class="has-text-grey">
            <a href="../../users/register">Registrarse</a> &nbsp;·&nbsp;
            <a href="../">Recuperar contrasena</a> &nbsp;·&nbsp;
            <a href="../">Ayuda?</a>
          </p>
        </div>
      </div>
    </div>
    <!-- FOOTER -->
    <div class="hero-foot">
      <div class="container">
        <div class="tabs is-centered">
          <ul>
            <li class="footer-text"><a href="https://github.com/underneath-systems/" style="color:white;">Made with  <i class="fa fa-heart fa-fw" style="font-size: 10px; color:red;"></i>  by Underneath-systems</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
