

span:first-child {
  margin-right: 20px;
}

span:last-child {
  color: black;
  background-color: black;
  animation: fadeWhite 4s forwards;
  animation-delay: 2s;
  position: relative;
}
span:last-child:after {
  content: "deepend";
  position: absolute;
  left: 2px;
  top: 2px;
  clip: rect(0, 900px, 0, 0);
  background-color: black;
  color: white;
  animation: glitch 3s infinite alternate-reverse;
  animation-delay: 4s;
}
span:last-child:before {
  content: "deepend";
  position: absolute;
  left: -2px;
  top: -2px;
  clip: rect(0, 900px, 0, 0);
  background-color: black;
  color: white;
  animation: glitch 3s infinite alternate-reverse;
  animation-delay: 4s;
}

@keyframes fadeWhite {
  100% {
    color: white;
  }
}
@keyframes glitch {
  0% {
    clip: rect(94px, 9999px, 29px, 0);
  }
  5% {
    clip: rect(80px, 9999px, 72px, 0);
  }
  10% {
    clip: rect(4px, 9999px, 87px, 0);
  }
  15% {
    clip: rect(60px, 9999px, 99px, 0);
  }
  20% {
    clip: rect(55px, 9999px, 6px, 0);
  }
  25% {
    clip: rect(94px, 9999px, 59px, 0);
  }
  30% {
    clip: rect(41px, 9999px, 39px, 0);
  }
  35% {
    clip: rect(64px, 9999px, 64px, 0);
  }
  40% {
    clip: rect(51px, 9999px, 93px, 0);
  }
  45% {
    clip: rect(4px, 9999px, 46px, 0);
  }
  50% {
    clip: rect(22px, 9999px, 24px, 0);
  }
  55% {
    clip: rect(4px, 9999px, 45px, 0);
  }
  60% {
    clip: rect(91px, 9999px, 46px, 0);
  }
  65% {
    clip: rect(66px, 9999px, 92px, 0);
  }
  70% {
    clip: rect(77px, 9999px, 68px, 0);
  }
  75% {
    clip: rect(15px, 9999px, 56px, 0);
  }
  80% {
    clip: rect(88px, 9999px, 52px, 0);
  }
  85% {
    clip: rect(55px, 9999px, 31px, 0);
  }
  90% {
    clip: rect(1px, 9999px, 86px, 0);
  }
  95% {
    clip: rect(18px, 9999px, 84px, 0);
  }
  100% {
    clip: rect(58px, 9999px, 86px, 0);
  }
}
 
